---

---

<footer>
	<span>
		Vale es una libreria creada por Jonarroh, para sus amigos y para la comunidad.
	</span>
</footer>

<style>
	footer {
		margin-top: auto;
		padding: 2rem;
		border-top: 3px solid var(--theme-divider);
	}
</style>
